* {
	margin:0px; padding:0px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


body {
	background-color:#767676;
	font-size: 13px;
	max-width: 100%;
	max-height:100%;
}

@media screen and (max-width: 760px) {
	body {
		font-size: 13px
	}
}

h2 {
	font-size:2em;
}
p {
	font-size: 1em;
}
/* navigation */
.navigation-container {
    margin:auto 0;
  }
 .navigation-container nav {
 	display:block;
 	text-align: right;
 	padding:20px;
 	margin-right: 3%;
 }
.navigation-container nav a {
	padding:0px 20px 0px 20px;
}

.container {
	width:100%;
	height:100%;
	margin:0 auto;
	background-color:#333;
	background-size: cover;
	-webkit-background-size: cover;
}
.container h1 {
	font-family:'Arial', sans-serif;
	color:#fff;
	padding:30px 20px 30px 40px;
	margin:0;
}

.h2 {
	text-align: center;
	font-size: 3em;
}
.container a {
	text-decoration: none;
	color:#fff;
}
.container a:hover {
	color:#00B3FF;
}

.info {
	background-color:#E4E4E4;
	text-align: center;
	padding:30px 0px 30px 0px;
	border-bottom: 1px solid #B3B3B3;
}

.info img {
	width:100px;
	height:100px;
	border-radius:50%;
	text-align:center;
	margin:10px;
}

.info ul li {
	list-style: none;
}

#person-info {
	text-align: justify center;
}
.main {
	display:block;
}

.row { background-color: #E4E4E4;
	border-bottom:1px solid #B3B3B3;
	padding:20px;

}

.left {
	float:left;
	width:30%;
	margin-right: 20%;
	margin-left: 7%;
}
.right {
	float:left;
	width:30%;
	margin-bottom:20px;

}

#hobbies,#activities {
	background-color:#E4E4E4;
}

.par-row {
	text-align: justify;
}

.col-title {
	padding:20px;
	display:block;
	text-align:center;
}
#photos {
	background-color:#E4E4E4;
	margin:0;
	padding:20px;
}
#photos h2 {
	padding-left: 20px;
	margin:0;
}
#photos img {
	
	text-align:center;
	display:inline-block;
	width:200px;
	height:200px;
	padding:10px;
	margin:0 auto;
}

#photos img:hover {
	background-color:#ABABAB; 
}

#contact {
	color:#fff;
	text-align: center;
}
#contact img {
	background-color:#333;
	width:20px;
	height:20px;
	padding:20px; 
}
#contact h3 {
	padding:20px;
}

.footer {
	padding:10px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}