body {
background-color: #fff;
}
.container {
	margin:0 auto;
	text-align:center;
	width:800px; 
}
header {
	background-color:#3D4840;
}
header h1 {
	color:#fff;
	border:solid;
	border-color:#fff;
	border-width: 1px;
	display:inline-block;
	padding:10px;
}
header h1:hover {
	background-color:#333834;
}
header h3 {
	color:#fff;
	margin:0;
}

header img {
	width:100px;
	height:100px;
	border-radius:50%;
	border-color:#77B17F;
	border-style:solid;
	border-width: 2px;
	margin:20px; 
}

#person-info {
	background-color:#77B17F;
	margin:0;
	color:#fff;


}
#person-info h2 {
	margin:20px;
	color:#fff;
	border:solid;
	border-color:#fff;
	border-width: 1px;
	display:inline-block;
	padding:10px;
}
#person-info h2:hover {
	background-color:#52AD5E; 
}
#person-info p {
	margin:0;
	color:#fff;
	padding:30px;
}

#hobbies {
	background-color:#F9A61A;
	margin:0;
	color:#fff;
	}

#hobbies h2 {
	margin:20px;
	color:#fff;
	border:solid;
	border-color:#fff;
	border-width: 1px;
	display:inline-block;
	padding:10px;
}

#hobbies h2:hover {
	background-color:#D98B08; 
}

#hobbies p {
	margin:0;
	color:#fff;
	padding:30px;
}

#activities {
	background-color:#F67F21;
	margin:0;
	color:#fff;
}

#activities h2 {
	margin:20px;
	color:#fff;
	border:solid;
	border-color:#fff;
	border-width: 1px;
	display:inline-block;
	padding:10px;
}

#activities h2:hover {
	background-color:#CB722B; 
}

#activities p {
	margin:0;
	color:#fff;
	padding:30px;
}

#gallery {
	background-color:#D23E23;
	margin:0;
	color:#fff;
}

#gallery h2 {
	margin:20px;
	color:#fff;
	border:solid;
	border-color:#fff;
	border-width: 1px;
	display:inline-block;
	padding:10px;
}

#gallery h2:hover {
	background-color:#C02B10; 
}

#gallery img {
	width:200px;
	height:200px;
	margin:40px;
	display:inline-block;
	border-radius:20%;
}

#gallery img:hover {
	background-color:#C02B10;
}

#gallery ul li {
	list-style: none;
	display:inline-block;
	margin:0;
}
#gallery ul {
	margin:0;
}


footer {
	background-color:#3D4840;
	color:#fff;
	padding:10px;
	margin-top:0;
}
.copy {
	text-align: center;
}


p {
	text-align: justify;

	}
