<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="../../assets/css/material.min.css">
	<link rel="stylesheet" href="../../assets/css/login.css">
	<link rel="stylesheet" href="../../assets/css/animate.min.css">
	<script type="text/javascript" src="../../assets/js/material.min.js"></script>
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  	<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">alif firdauz</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        
      </nav>
    </div>
  </header>
	<main class="mdl-layout__content">
	<div class="page-content">
	<div class="login-box">
	<h2 class="animated pulse"></h2>
		<h4 class="animated fadeInLeft">Email</h4>
			<form>
				<div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="text" id="sample1">
			    <label class="mdl-textfield__label" for="sample1">Email</label>
		  		</div>
		  	</form>
		 <h4 class="animated fadeInLeft">Password</h4>
		  	<form>
				<div class="mdl-textfield mdl-js-textfield">
			    <input class="mdl-textfield__input" type="password" id="sample1">
			    <label class="mdl-textfield__label" for="sample1">Password</label>
		  		</div>
		  	</form>

		  	<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
  			<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
  			<span class="mdl-checkbox__label">Ingat saya</span>
			</label>

		  	
		  	
			<div class="button">

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored">
  			Login
			</button>

			
			</div>

			</div>
		</div>
	</main>
	
</body>
</html>