* {
	padding:0;
	margin:0;
}

.mdl-layout__content {
	margin:0 auto;
	width:100%;
}

body {
	
	

}
.page-content {

	margin:0 auto;
	width:90%;
}

.register-box {

	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width:90%;
}

button {
	padding: 20px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;


}